<html>
   <head th:replace="~{base :: head}"></head>
    <body>
    <head th:replace="~{base :: Logo}"></head>
    
        <div th:replace="~{base :: titulo('Anexe a sua CNH(Carteira Nacional de Habilitação)')}"></div>

		<div class="card mt-3">
            <form action="/proposta/novo3" method="POST" enctype="multipart/form-data">
            
                <div>
                    <label for="imagem">Imagem do Produto</label>
                    <input type="file" id="imagem" name="fileProposta3"/>
                </div>
                
                <button class="btn btn-primary"  type="submit">Enviar</button>
                 
		        <td>
		        <img class="img_prod" alt="Image" th:src="|/imagem/${id}|"/>
		        </td>
	         
            </form>
        </div>
    </body>
</html>